*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}
body {
    background-color: #777;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.page {
    flex: 1 1 auto;
}

.footer {
    background-color: #334887;
    height: 50px;
}
.page {
    position: relative;
}
[class*="__container"] {
    max-width: 1100px;
    margin: 0 auto;
}
/* ///////////////////////////////////////////////// */
.header {
    background-color: #555;
}
.some-menu {
    margin: 0 auto;
    max-width: 800px;
    background-color: #506644;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 15px;
    gap: 15px;

    &__icon {
        display: none;
        flex: 0 0 30px;
        height: 20px;
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        span {
            position: absolute;
            top: 50%;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: #333;
            margin-top: -1px;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            height: 2px;
            background-color: #333;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        .menu-active & {
            span {
                transform: scale(0);
            }
            &::before {
                top: 50%;
                margin-top: -1px;
                transform: rotate(-45deg);
            }
            &::after {
                bottom: 50%;
                transform: rotate(45deg);
                margin-top: -1px;
            }
        }
        @media (max-width: 700px) {
            display: block;
        }
    }
    &__body {
        flex: 1 1 auto;
        @media (max-width: 700px) {
            position: fixed;
            top: 0;
            left: -100%;
            transition: all 0.3s ease 0s;
            width: 100%;
            height: 100%;
            background-color: #181f14;
            padding: 55px 15px;
            overflow: auto;
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: 40px;
                top: 0;
                right: -100%;
                background-color: #536847;
                transition: all 0.3s ease 0s;
            }
            .menu-active & {
                left: 0;
                &::before {
                    right: 0;
                }
            }
        }
    }
    &__list {
        display: flex;
        list-style: none;
        gap: 15px;
        @media (max-width: 700px) {
            flex-direction: column;
        }
    }
    &__item {
    }
    &__link {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
    }
}
/* ///////////////////////////////////////////////////// */
.list {
    list-style: none;
    margin-bottom: 20px;
    padding: 20px;
}
*.list__item:not(:last-child) {
    margin-bottom: 10px;
}
.list__link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}
.green {
    background-color: green;
    transition: all 0.5s ease;
}
.block__text {
    padding: 20px;
    background-color: #558866;
    max-width: 300px;
}
.block__button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px 2px #000;
}
.red {
    background-color: red;
}
.yellow {
    color: yellow;
}
.theme {
    padding: 30px 0;
}
/* ////////////////////////////////////////////////////// */
.range-cards {
    padding: 30px 0;
}

.cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.cards__item {
    padding: 0 15px;
    flex: 0 0 50%;
}
.item-cards {
    padding: 10px;
}

.item-cards__picture {
    max-width: 350px;
    margin-bottom: 10px;
}
.item-cards__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-cards__body {
    padding: 10px;
}

.item-cards__title {
    font-size: 24px;
}
.item-cards__descr {
    font-size: 16px;
}
/* ================== line ====================== */

.line {
    display: block;
}
.line .item-cards__body {
    padding-top: 0px;
}
.item-cards.line {
    display: flex;
    padding-top: 0px;
}

/* .cards.line {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.cards__item.line {
    padding: 0 15px;
    flex: 0 0 50%;
}
.item-cards.line {
    padding: 10px;
}
.item-cards__picture.line {
    position: relative;
    padding-bottom: 85.71%;
    margin-bottom: 10px;
}
.item-cards__picture.line img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-cards__body.line {
    padding: 10px;
}
.item-cards__title.line {
    font-size: 24px;
}
.item-cards__descr.line {
    font-size: 16px;
} */
/* ////////////////////////////////////////////////////// */
/* темная тема */
.dark-theme {
    background-color: #222;
    color: #fff;
}
.dark-theme a {
    color: #fff;
}
.dark-theme a.yellow {
    color: rgb(55, 0, 255);
}
.dark-theme .list.green {
    background-color: goldenrod;
}
.dark-theme .header {
    background-color: #23aaff;
}
.dark-theme .footer {
    background-color: #45cc31;
}
.dark-theme .menu__link {
    color: #45cc31;
    transition: all 0.3s;
}
.dark-theme .menu__link:hover {
    color: #aabcbc;
}
.dark-theme .menu__link:active {
    color: #000;
}
